<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form action="{% url 'social:user_login' %}" method="get">
        {%csrf_token%}
        <fieldset>
            {% if error_message %}<h3>{{error_message}}</h3><br> {% endif %}
            Username:<br><input type="text" name="username" id="username"><br>
            Password: <br><input type="text" name="password" id="password"><br>
            </fieldset>
        <input type="submit" value="Log In">
    </form>
</body>
</html>